<div id="maindiv-{{chartId}}" class="panel-primary" >
    <div class="panel-heading" style="overflow: auto;/*cursor: move;*/"id="handle-{{chartId}}">
        {{title}}
    </div>
    <div class="panel-body"  style="overflow: auto;" ng-show="!isLoading && hasData" >
        <div class="row-fluid" ng>
            <div class="col-md-12 text-center">
                <h4>{{title}}</h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-12 text-center">
                <div id="{{chartId}}" style="margin: auto; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="panel-body"  style="overflow: auto;" ng-show="!hasData && !isLoading" >
        {{noDataMessage}}
    </div>
    <div class="panel-body"  style="overflow: auto;" ng-show="isLoading" >
        {{loadingMessage}}
    </div>
</div>